.navbar .active{
    padding-bottom: 2px;
    border-bottom: 2px solid#49557e;
}

.navbar li{
    cursor: pointer;
}

.navbar-search-icon {
    position: relative; /* Add this */
}
.navbar-search-icon .dot {
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    background-color: tomato;
    border-radius: 50%;
    right: -6px;
    top: 7px;
}



/* ------------------------------------------------------------------------- */

@media screen and (max-width: 768px) {
    .navbar {
      flex-direction: column;
      align-items: flex-start;
      padding: 1rem;
      gap: 1rem;
    }
  
    .navbar-menu {
      flex-direction: column;
      gap: 10px;
      width: 100%;
      text-align: left;
    }
  
    .navbar-right {
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
    }
  
    .navbar-search-icon {
      position: relative;
    }
  
    .dot {
      position: absolute;
      top: 0;
      right: 0;
      height: 8px;
      width: 8px;
      background-color: red;
      border-radius: 50%;
    }
  
    button {
      width: 100%;
      text-align: center;
    }
  }
  